form {
    width: 16rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: orange; */
  }
  
  div .form-input {
    width: 16rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
  }
  
  label {
      font-size: large;
      margin-bottom: 1rem;
  }
  
  input {
      height: 2.2rem;
      border: 1px solid gainsboro;
      border-radius: 4px;
      box-shadow: 1px 2px 8px 1px gainsboro;
      font-size: 16px;
      padding: 0 .7rem;
  }
  
  button {
      min-height: 3rem;
      border: 1px solid gainsboro;
      border-radius: 4px;
      box-shadow: 1px 2px 8px 1px gainsboro;
      background: salmon;
      color: floralwhite;
      font-size: large;
      margin: 1rem 0;
  }
  
  button:hover {
      cursor: pointer;
  }